.Border {
    -fx-border-color: #41445B;
    -fx-border-width: 10;
}

.DetailBook {
    -fx-border-color: #6943CE;
    -fx-border-width: 0 0 0 1;
}

.Tile {
    -fx-border-color: #6943CE;
    -fx-border-width: 0 0 3 0;
    -fx-text-fill: #1256d3;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
}

.BigWhiteTitle {
    -fx-font-size: 50;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
}

.GetButton {
    -fx-background-color: #6943CE;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-pref-width: 300;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
}

.GetButton:hover {
    -fx-background-color: #7035d6;
    -fx-text-fill: #b0ed99;
}

.BackButton {
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-text-fill: #000000;
    -fx-font-family: "Calibri", sans-serif;

}

.BackButton:hover {
    -fx-text-fill: #579ae8;
}

.BackButton .image-view {
}

.BackButton:hover .image-view {
    -fx-blend-mode: difference;
}





.BookName {
    -fx-font-size: 50;
    -fx-weight: bold;
    -fx-text-fill: #ffffff;
}

.InfoText {
    -fx-font-size: 20;
    -fx-text-fill: #000000;
}

.BarGround {
    -fx-background-color: #2F314B;
}

.BackGround {
    -fx-background-color: #f0f0f0;
}