* {
    -fx-primary-color: #f0f0f0;
    -fx-secondary-color: #8a64ec;
    -fx-third-color: #baa4fd;
    -fx-white-color: #ffffff;
    -fx-dark-text-color: #000000;
    -fx-light-text-color: #8d8c93;
    -fx-light-blue-text-color: #64b3ec;
    -fx-dark-blue-text-color: #0b50f3;
    -fx-green-text-color: #76ea5c;
    -fx-sub-background-color: #190845;
}

/* Style for the headers */

.Header {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-text-color;
    -fx-font-family: sans-serif;
}

.SubHeader {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-text-color;
    -fx-font-family: sans-serif;
}

.LightText {
    -fx-font-size: 12;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: sans-serif;
}

.DarkText {
    -fx-font-size: 12;
    -fx-text-fill: -fx-dark-text-color;
    -fx-font-family: sans-serif;
}

/* Style for the block */

.GreyBlock {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 15;
}

.PurpleBlock {
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 15;
}

/* Style for the scroll pane */

.scroll-pane .scroll-bar {
    -fx-opacity: 0;
}

/* Style for the buttons */

.CheckoutButton {
    -fx-background-color: -fx-white-color;
    /*-fx-text-fill: -fx-light-blue-text-color;*/
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.CheckoutButton:hover {
    -fx-background-color: -fx-white-color;
    -fx-text-fill: -fx-light-blue-text-color;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.CheckoutButton .label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-text-fill: -fx-light-blue-text-color;
}

.CheckoutButton:hover .label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-text-fill: -fx-green-text-color;
}

.TextButton {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 13;

}

.TextButton:hover {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-dark-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

/* style for cart entity */

/* This is the design for the container, it round by radius 15, it very light gray blue */

.CartContainer {
    -fx-background-color: #25dab9;
    -fx-background-radius: 15;
}

/* This is label design, it black, bold, size is 18 */
.BookName {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-text-color;
    -fx-font-family: sans-serif;
}

/* This is label design, it gray, size is 15 */
.AuthorName {
    -fx-font-size: 15;
    -fx-text-fill: -fx-light-text-color;
    -fx-font-family: sans-serif;
}

/* This is button design, it transparent, the button content become res */
.RemoveButton {
    -fx-background-color: transparent;
}

.RemoveButton .glyph-icon {
    -glyph-size: 15;
}

.RemoveButton:hover {
    -fx-background-color: -fx-sub-background-color;
}

.RemoveButton:hover .glyph-icon {
    -fx-fill: red;
    -glyph-size: 20;
}

/* This is label design, it for price text, it blue, bold, size is 15 */
.Price {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-blue-text-color;
    -fx-font-family: sans-serif;
}

/* This is label design, it for quantity text, it blue, bold, size is 15 */
.Quantity {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-light-blue-text-color;
    -fx-font-family: sans-serif;
}

/* This is button design, it for increase quantity, it transparent */
.IncreaseButton {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.IncreaseButton:hover {
    -fx-background-color: -fx-sub-background-color;
}

.IncreaseButton:hover .glyph-icon {
    -fx-fill: green;
}

/* This is button design, it for decrease quantity, it transparent */
.DecreaseButton {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.DecreaseButton:hover {
    -fx-background-color: -fx-sub-background-color;
}

.DecreaseButton:hover .glyph-icon {
    -fx-fill: red;
}