.WorldBackground {
    /*-fx-background-color: #0B0D1B;*/
    -fx-border-color: #41445B;
    -fx-border-width: 10;
    /*-fx-border-radius: 15;*/
}

.WelcomeBackGround {
    -fx-background-color: #0B0D1B;
    /*-fx-background-radius: 10 0 0 10;*/
}

.MainBackground {
    -fx-background-color: #F1F3F6;
}

.WelcomeText {
    -fx-font-size: 30;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
    -fx-font-style: italic;
}

/* Account Selector ChoiceBox Style */

.tile {
    -fx-text-fill: #000000;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
.acc_selector {
    -fx-background-color: transparent;
}

.acc_selector .label {
    -fx-text-fill: #000000;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-decoration: underline;
}

.acc_selector .arrow {
    -fx-background-color: transparent;
}

#choice-box-popup-menu {
    -fx-background-color: #9277af;
}

/* Login Form Style */


.instructions_panel {
    -fx-background-color: #F1F3F6;
}

.instructions_lbl {
    -fx-text-fill: #272525;
    -fx-font-size: 1.2em;
}

.redStar {
    -fx-text-fill: red;
    -fx-font-size: 1.2em;
}

.input_field {
    -fx-background-color:transparent;
    -fx-border-radius: 10;
    -fx-border-color: #151414;
    -fx-border-width: 1;
    -fx-pref-height: 50;
    -fx-pref-width: 400;

    -fx-font-size: 1.5em;
}

.LoginButton {
    -fx-pref-width: 400;
    -fx-font-family: "Calibri", sans-serif;
    -fx-background-color: #6943CE;
    -fx-background-radius: 8;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-alignment: CENTER;
    -fx-pref-height: 50;
}

.LoginButton:hover {
    -fx-background-color: #5c4cef;
}

.error_lbl {
    -fx-text-fill: red;
}

.link_lbl {
    -fx-background-color: transparent;
    -fx-text-fill: #87ceeb;
    -fx-underline: true;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.link_lbl:hover {
    -fx-text-fill: blue;
}