
/**/
.MenuBackGround {
    -fx-background-color: #c1faed;
    -fx-background-radius: 15;
}

/**/
.LibrarySymbolPane {
    -fx-background-color: #33a58b;
    -fx-background-radius: 15;
}

.LibraryName {
    -fx-font-size: 30;
    -fx-text-fill: linear-gradient(from 50% 90% to 50% 40%, #ea2d2d, #5420f4);
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

/**/
.MenuButton {
    -fx-background-radius: 20;


    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
    -fx-background-color: #c1faed;
    -fx-text-fill: #090808;
    -fx-font-size: 20;
    -fx-alignment: center;
    -fx-pref-width: 200;
}

.MenuButton:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #a3e8d9, #2b4fc6);
}