.NoDataLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
    -fx-text-fill: #4385da;
}

.TransparentBackground {
    -fx-background-color: transparent;
}